mode: standalone
replicas: 1

auth:
  existingSecret: minio
  rootUserSecretKey: root-user
  rootPasswordSecretKey: root-password

global:
  security:
    allowInsecureImages: true

persistence:
  enabled: true
  size: 10Gi
  storageClass: local-path
  accessModes:
    - ReadWriteOnce

image:
  registry: quay.io
  repository: minio/minio
  tag: RELEASE.2023-09-30T07-02-29Z
  pullPolicy: IfNotPresent

command:
  - minio
args:
  - server
  - /bitnami/minio/data
  - "--address=:9000"

console:
  enabled: false

ingress:
  minio:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: minio.student-qnly.dski23a.timebertt.dev
        paths:
          - path: /
            pathType: ImplementationSpecific
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    tls:
      - secretName: minio-tls-secret
        hosts:
          - minio.student-qnly.dski23a.timebertt.dev

  console:
    enabled: true
    ingressClassName: nginx
    hosts:
      - host: minio.student-qnly.dski23a.timebertt.dev
        paths:
          - path: /
            pathType: ImplementationSpecific
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt
    tls:
      - secretName: minio-console-tls-secret
        hosts:
          - minio.student-qnly.dski23a.timebertt.dev


resources:
  requests:
    memory: 512Mi
    cpu: 250m
  limits:
    memory: 1Gi
    cpu: 500m